$max-width: 1200px;
$primary-color: #242F9B;
$secondary-color: #646FD4;
$light-color: #DBDFFD;
$dark-color: #06283D;
// $success-color;
// $info-color;
// $warning-color;
// $danger-color;
// $light-color;
// $dark-color;
$bg-image: url("../img/bg-www.jpg");